

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-right {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.logo{
    font-family: 'Dosis';
    color: aliceblue;
}

.head{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: rgba(17, 17, 17, 0.8);
    position: absolute;
    z-index: 10;
    width: 100%;
}

.nav-right{
    display: flex;
    list-style: none;
}

.nav-right li a{
    margin: auto;
    text-decoration: none;
    margin-right: 40px;
    color: aliceblue;
}

.banner-img{
    position: relative;
    width: 100%;
    mask-image: linear-gradient(rgb(0, 0, 0) 85%,
    transparent);
}

.title{
    width: 40%;
    color: aliceblue;
    position: absolute;
    background-color: rgba(17, 17, 17, 0.8);
    padding: 30px;
    border-radius: 10px;
    top: 350px;
    left: 150px;
    font-family: 'Dosis';
}

.h1-title{
    margin-bottom: 20px;
}

.h3-color{
    color: rgb(213, 85, 11);
}