

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    position: relative;
}

.nav-right {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.logo{
    font-size: 20px;
    display: flex;
    margin-top: 5px;
    align-items: center;
    font-family: 'Dosis';
    color: aliceblue;
}

.head{
    position: fixed;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    z-index: 100;
}

.header{
    position: relative;
}

.nav-right{
    display: flex;
    list-style: none;
}

.nav-right li a{
    display: flex;
    margin: auto;
    text-decoration: none;
    color: aliceblue;
    padding: 10px 30px;
    /* transition: all .3s; */
}

.nav-right li a:hover{
    background-color:rgb(247, 109, 29);
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0 0 32px rgb(247, 109, 29);
    
}

.active{
    border: solid 1px rgb(247, 109, 29);
    border-radius: 5px;
}

.banner-img{
    position: relative;
    width: 100%;
    mask-image: linear-gradient(rgb(0, 0, 0) 80%,
    transparent);
}

.title{
    width: auto;
    color: aliceblue;
    position: absolute;
    background-color: rgba(17, 17, 17, 0.6);
    padding: 30px;
    border-radius: 10px;
    top: 65%;
    left: 10%;
    font-family: 'Dosis';
}

.h1-title{
    margin-bottom: 10px;
}

.h3-color{
    color: rgb(247, 109, 29);
}

.btn-hamburguer{
    display: none;
}    

