.footer{
    width: 80%;
    height: auto;
    /* background-color: rgba(17, 17, 17, 0.8); */
    border-radius: 10px;
    margin: 20px auto;
}

.footer-grid{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form{
    width: 100%;
    display: block;
    color: aliceblue;
    padding: 20px 0;
}

.space{
    margin-bottom: 20px;
}

.input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: solid 1px rgb(65, 65, 65);
    background-color: rgb(0, 0, 0);
    margin-top: 5px;
    outline: none;
    color: aliceblue;
    font-size: 16px;
}

.btn-form{
    display: block;
    margin: auto;
    padding: 7px 45px;
    border-radius: 10px;
    border: none;
    font-family: 'Dosis';
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(247, 109, 29);
    color: aliceblue;
    cursor: pointer;
    transition: all .3s;
}

.btn-form:hover{
    box-shadow: 0 0 16px rgb(247, 109, 29);
}

.h2-footer{
    color: rgb(247, 109, 29);
    margin-bottom: 10px;
}

.email-footer{
    color: aliceblue;
    margin: 10px 0;
}

.icon-footer{
    margin-right: 10px;
    font-size: 18px;
}

.footer-copyright{
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
}

.social-network{
    display: block;
    width: 100%;
    padding: 10px 0;

}

.icon-social-network{
    margin-top: 40px;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    gap: 10px;
}

.bg-icon{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    transition: all ease 0.2;
    border-radius: 10px;
}

.bg-icon:hover{
    background-color: rgb(247, 109, 29);
    width: 100%;
    border-radius: 10px;
}

.bg-email{
    background-color: rgb(52, 52, 52);
    width: 100%;
    border-radius: 10px;
    padding: 5px 10px;
    
}


.text{
    font-weight: 200;
    font-size: 18px;
}

.logo-acatama{
    width: 80px;
    height: 60px;
    margin: 10px 0 0 5px;
}

::placeholder {
    font-style: italic;
  }