.main{

    display: block;
    top: 90%;
    /* background-color: rgba(17, 17, 17, 0.5); */
    width: 80%;
    margin: 20px auto;
    padding: 20px 10px;
    border-radius: 10px;
    left: 8.5%;
    
}

.cards{
    margin: 0 auto;
    top: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.card{
    border-radius: 10px;
    padding: 20px;
    width: 33%;
    justify-content: center; 
}

.img-card{
    width: 100%;
    margin: 0 auto;  
}

.title-cards{
    font-family: "Dosis";
    color: aliceblue;
    margin-bottom: 15px;
    font-size: 20px;
    background-color: rgba(17, 17, 17, 0.5);
    padding: 15px 20px;
    border-radius: 10px;
}

.footer-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 0 20px;
    background-color: rgba(17, 17, 17, 0.5);
    padding: 15px 20px;
    border-radius: 10px;
}

.description{
    font-family: 'Dosis';
    font-size: 18px;
    color: aliceblue;
}

.btn{
    padding: 7px 45px;
    border-radius: 10px;
    border: none;
    font-family: 'Dosis';
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(247, 109, 29);
    color: aliceblue;
}
