
@media screen and (max-width: 600px) {

    body{
        width: 100%;
    }

    .nav-right {
        font-size: 16px;
        margin-top: 15px;
        display: none;
        background-color: rgb(0, 0, 0)
    }

    .show{
        display: block;
    }

    .nav-right li{
        border-top: solid 1px rgb(56, 56, 56);
    }

    .nav-right li a{
       display: flex;
       justify-content: center;
       margin: 0;
    }

    .logo{
        margin-top: auto;
    }

    .title{
        width: 70%;
        color: aliceblue;
        position: absolute;
        background-color: rgba(17, 17, 17, 0.6);
        padding: 10px;
        border-radius: 10px;
        top: 65%;
        left: 3%;
        font-family: 'Dosis';
        font-size: 14px;
    }

    .h1-title{
        font-size: 18px;
        margin-bottom: 4px;
        font-weight: 600;
    }

    .head{
        display: block;
    }

    .header{
        position: relative;
    }

    .banner-img{
        height: 250px;
    }

    .nav-bar{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    /* MAIN CSS CUSTOM */

    .main{
        width: 100%;
    }

    .content .seccion{
        width: 95%;
    }

    .content .seccion-2{
        width: 95%;
    }

    .content .footer{
        width: 95%;
    }

    .cards{
        margin: 0 auto;
        top: 650px;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 20px;    
    }

    .card{
        width: 100%;
        margin-bottom: 25px;
    }

    .title-cards{
        width: 100%;
        font-family: "Dosis";
        color: aliceblue;
        margin-bottom: 15px;
        font-size: 20px;
        background-color: rgba(17, 17, 17, 0.8);
        padding: 15px 20px;
        border-radius: 10px;
    }

    .footer-cards{
        display: flex;
    }

   .btn{
    display: flex;
    margin: 0 5px;
   }

    .btn-hamburguer{
        color: aliceblue;
        font-size: 24px;
        display: flex;
        align-items: center;
    } 
    
    /* SECCION */
    .seccion{
        width: 100%;
    }


    /* FOOTER */
    .footer{
        width: 100%;
        display: block;
    }

    .footer-grid{
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 100%;
    }

    .form{
        display: flex;
        width: 100%;
    }

    .social-network{
        display: block;
        margin: auto;
    }

    .title-social{
        width: 100%;
    }

    .bg-icon{
        width: 35%;
    }

    .bg-email{
        background-color: rgb(52, 52, 52);
        width: 100%;
        border-radius: 10px;
        padding: 5px 10px;
    }

    .seccion-2 .seccion-concert{
        display: block;
    }


    .seccion .seccion-info{
        display: block;
    }

    .btn-more a{
        text-decoration: none;
    }

    .nav-bar{
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {

    .title{
        width: 50%;
        color: aliceblue;
        position: absolute;
        background-color: rgba(17, 17, 17, 0.6);
        padding: 10px;
        border-radius: 10px;
        top: 65%;
        left: 3%;
        font-family: 'Dosis';
        font-size: 12px;
    }

    .content .seccion{
        width: 100%;
    }

    .content .seccion-2{
        width: 100%;
    }

    .content .footer{
        width: 95%;
    }
}
