@import "banner.css";
@import "main.css";
@import "responsive.css";

/* body{
    background-image: url(/img/5442676.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

body{
    background-color: rgb(0, 0, 0);
}
